# Docker / SO
.DS_Store
*.log

# Laravel (aplica dentro de src/)
src/vendor/
src/node_modules/
src/.env
src/.env.*
!src/.env.example
src/storage/*.key
src/storage/logs/
src/storage/framework/
src/storage/sessions/
src/storage/views/
src/storage/app/private/
src/storage/app/livewire-tmp/
src/bootstrap/cache/*.php
!src/bootstrap/cache/.gitignore
src/database/database.sqlite
src/tests/
phpunit.xml
